<div class="modal-header">
    <h5 class="modal-title">Employee Detail</h5>
  </div>
<form  [formGroup]="EmployeeDetailForm" (ngSubmit)="onSubmit()">

              <div class="mb-3">
                  <label for="employeeName" class="form-label">Name</label>
                  <input type="text" class="form-control" id="employeeName" placeholder="name" name="name" formControlName="name">
              </div>
              <div class="mb-3">
                  <label for="employeeDepartment" class="form-label">Department</label>
                  <input type="text" class="form-control" id="employeeDepartment" placeholder="department" name="department" formControlName="department">
              </div>
              <div class="mb-3">
                  <label for="employeeDesignation" class="form-label">Designation</label>
                  <input type="text" class="form-control" id="employeeDesignation" placeholder="designation" name="designation" formControlName="designation">
              </div>

          <div class="modal-footer">
            
            <button type="submit" class="btn btn-primary" routerLink="/home" data-bs-dismiss="modal">Update</button>
          </div>

  </form>